ROOT_HOST=127.0.0.1
ROOT_PORT=8000

DB_NAME=boilerplate
DB_USER=boilerplate
DB_PASSWORD=123
DB_HOST=database
DB_PORT=5432

SECRET_KEY='django-insecure-uoj@rm=mj#mxye^%f1d-gw6o7bd7!dk0hp%^n7i-e-zbqbjad@'

IS_PROD=0
